<div id="ID_NAME" class="row">
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="speakerName"></span>
    </button>
    <div class="collapse" id="collapseExample">
        <div class="col-xs-12 col-lg-4">
            <span>状態一覧</span>
            <table class="table">
                <tbody>
                    <tr>
                        <td>IPアドレス</td>
                        <td><span class="IpAddress"></span></td>
                    </tr>
                    <tr>
                        <td><span>音量</span></td>
                        <td><span class="Volume"></span></td>
                    </tr>
                    <tr>
                        <td>状態</td>
                        <td><span class="statusText"></span></td>
                    </tr>
                    <tr>
                        <td>曲名</td>
                        <td><span class="title"></span></td>
                    </tr>
                    <tr>
                        <td>再生中の時間</td>
                        <td><span class="currentTime"></span></td>
                    </tr>
                    <tr>
                        <td>曲の長さ</td>
                        <td><span class="duration"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-lg-6">
            <div class="music_selection" />
        </div>

    </div>
</div>

