<% let g_addr = common.ghomeSpeakers %>
<% let special = page?.specialParams ?? [] %>

<!--
<%
	const files = special.GetFunc().filter(f=>f.Type == "File");
%>
-->
<div class="container">
	<div class="row">
		<% for(let i=1; i<=9; i++){ %>
			<div class="col-md-4 col-12">
				<div><%- i %>番</div>
				<Select class="form-select" id="SELECT_<%- i %>">
					<option>設定なし</option>
					<% for(let k=0; k<files.length; k++){ %>
						<option><%- files[k].Name %></option>
					<% } %>
				</Select>
			</div>
		<% } %>
	</div>
</div>

