<HR>
<ol>
    <%_ let level_pre = 0 _%>
    <%_ pages.forEach((page)=> { _%>

        <%_ if(page.hidden){ return; } _%>

        <%_ let level_def = page.level - level_pre _%>
        <%_ if(level_def < 0){ _%>
            <%_ for(let i = 0; i < -level_def; i++){ _%>
                </ol>
            <%_ } _%>
        <%_ }else if(level_def > 0){ _%>
            <ol>
        <%_ } _%>
        <li>
        <%_ if(page.path) { _%>
            <a class="nav-link" href="<%- page.path %>"><%- page.title _%></a>
        <%_ }else{ _%>
            <%- page.title _%>
        <%_ } _%>
        </li>
        <%_ level_pre = page.level _%>
    <%_ }); _%>
</ol>