<div class="container">
	<div id="gs-container"/>
		
	<div class="row">
		<button class="btn btn-secondary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			サーバメッセージ表示の切り替え
		</button>
		<div class="collapse" id="collapseExample">
			<div id="MessageText" />
		</div>
	</div>
</div>

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script>
	const server_ws = "<%- common.server_ws %>";
	const container_id = "gs-container";
	const query = <%- JSON.stringify(query) %>
</script>
<script src="/scripts/connect.js"></script>


